/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 100vw;
  max-block-size: 100vh;
  font-family: var(--main-font);
  color: var(--accent-color);
  margin-inline: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: 
  repeating-linear-gradient(90deg, var(--grad-color) 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(180deg, var(--grad-color) 0px 2px, transparent 2px 4px),
  linear-gradient(to bottom,var(--grad-light-color) 0.01vh, var(--grad-dark-color));
  background-color: var(--bg-color);
}

.header {
  box-sizing: border-box;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  display: grid;
  justify-content: center;
  align-items: end;
  width: min(100%, 700px);
  margin-inline: auto;
  margin-block: 100px;
  gap: 20px;
  padding-block-start: clamp(120px, 10vw, 135px);
  padding-block-end: 20px;
  font-family: var(--accent-font);
}

.header__logo {
  box-sizing: border-box;
  margin: 0;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

@media (width < 375px) {
  .header__logo {
    font-size: 2.9rem;
  }
}

.header__undertitle {
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 400;
  block-size: 100%;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  justify-self: center;
}

.header__theme-menu {
  box-sizing: border-box;
  padding-block: 5px;
  padding-left: 20px;
  display: grid;
  justify-content: center;
  list-style: none;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
}

.theme-menu__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--accent-color);
  appearance: none;
  transition: color 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  color: var(--accent-color);
  opacity: 0.6;
  block-size: 14px;
  inline-size: 14px;
  inset-inline-start: -14px;
  animation: strelka 0.5s ease-in-out infinite alternate-reverse;
}

.theme-menu__button:hover {
  color: var(--accent-color);
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  color: var(--accent-color);
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% - 6px);
  block-size: 2px;
  background-color: var(--accent-color);
  inset-inline-start: 3px;
  inset-block-start: 15px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transform-origin: left;
}

.content {
  display: grid;
  justify-content: center;
  width: min(100%, 700px);
  margin-inline: auto;
  gap: 50px;
  font-family: var(--main-font);
  padding-block-end: 102px;
}

.content__card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.content__title {
  padding: 3px 10px 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-weight);
  color: var(--accent-color);
}

.content__lebl {
  position: relative;
  outline: 2px solid var(--accent-color);
  height: min(100vw, 700px);
}

.content__picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-blur {
  filter: blur(0.3rem);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-rotate {
  filter: hue-rotate(90deg) invert(0.3);
}

.filter-invert {
  filter: invert(0.3);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-opacity {
  filter: opacity(0.4);
}

.lebl__text {
  z-index: 1;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  font-size: 14px;
  opacity: 0.5;
  font-family: var(--accent-font);
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  text-shadow: -1px 0px var(--bg-color), 0px 1px var(--bg-color), 1px 0px var(--bg-color), 0px -1px var(--bg-color);
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .lebl__text {
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
      text-shadow: none;
  }
} 

@media (width > 375px) {
  .lebl__text {
    inset-block-start: 27px;
    inset-inline-end: 27px;
  }
}

.content__paragraph {
  display: grid;
  gap: 27px;
  padding: 25px 28px 25px 25px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--text-weight);
  color: var(--accent-color);
  line-height: 21px;
}

.content__list {
  display: flex;
  padding: 0px 25px 25px 25px;
  gap: 12px;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  inline-size: 36px;
  position: relative;
  block-size: 36px;
  background-color: transparent;
  cursor: pointer;
  color: var(--accent-color);
  appearance: none;
  border: none;
  padding-inline: auto;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.like-icon {
  box-sizing: border-box;
  position: absolute;
  inset-inline-start: -1.5px;
  inset-block-start: 0px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 40px;
  background-color: var(--bg-color);
  position: relative;
  cursor: pointer;
  appearance: none;
  border: 2px solid var(--accent-color);
}

.button__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-family: var(--accent-font);
  mix-blend-mode: difference;
}

.button__main {
  transition: box-shadow 0.3s ease;
}

.button__main::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  inset-inline-start: 0px;
  inset-block-start: 0px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__main:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.button__main:focus {
  outline: none;
}

.button__main:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.content__button {
  margin-inline: auto;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 17px 18px;
  inline-size: clamp(306px, 25vw, 335px);
  flex-wrap: wrap;
  max-block-size: 80px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  position: relative;
  cursor: pointer;
  appearance: none;
}

.content__svg {
  justify-self: center;
  position: relative;
  z-index: 1;
  width: 28px;
  height: auto;
  color:var(--button-text-color);
  mix-blend-mode: difference;
  object-fit: cover;
  object-position: center;
}

@media (width > 650px) {
  .content__svg {
    width: 21px;
  }
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--contur-color);
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: var(--contur-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contur-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog {
  inline-size: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
  padding: 30px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.dialog[open] {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dialog .button__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__text {
  inline-size: clamp(16.063rem, 3.568vw + 15.226rem, 18.438rem);
  display: grid;
  gap: 13px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 39px minmax(min-content, max-content);
}

.dialog .content__svg {
  width: 39px;
  height: auto;
  color:var(--button-text-color);
  mix-blend-mode: difference;
  object-fit: cover;
  object-position: center;
}

.dialog__button {
  position: relative;
  font-size: 14px;
  font-family: var(--accent-font);
  font-weight: 400;
  line-height: 12.6px;
  text-transform: uppercase;
  block-size: 38px;
  inline-size: clamp(16.063rem, 3.568vw + 15.226rem, 18rem);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  appearance: none;
}

@media (width < 375px) {
  .dialog__button {
    inline-size: clamp(220px, 25vw, 16.063rem);
  }
}


