/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter', Arial, sans-serif;
    --accent-font: 'PressStart2P', Monospace;
    --title-weight: 700;
    --text-weight: 400;
    --bg-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(0, 0, 0, 1);
    --grad-color: #d3d3d3;
    --grad-light-color: #e7e7e7;
    --grad-dark-color: #1a1a1a;
    --button-text-color: rgba(255, 255, 255, 1);
    --heart-color: #FF0000;
    --contur-color: rgba(0, 0, 0, 1);
    --heart-main-color: rgba(0, 0, 0, 1);
}